* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #ada6a0;
}
@font-face {
    font-family: Rockwell;
    src: url(font/Rockwell.ttf);
}
.all {
    background: url("img/head.jpg") no-repeat center top #ada6a0;
    height: 1365px;
    width: 1024px;
    margin: 0 auto;
}
.header {
    height: 137px;
}
.left:hover,
.right:hover {
    cursor: pointer;
    opacity: 0.8;
}
.logo {
    color: #666666;
    font: 88.5px bold Rockwell, arial, tahoma;
    opacity: 0.26;
    text-align: center;
    padding-top: 15px;
    padding-right: 10px;
    text-transform: uppercase;
}
.all>div {
    margin-left: 47px;
    margin-right: 47px;
}
.meny {
    height: 55px;
    background-color: #ffffff;
}
.meny ul li {
    float: left;
    list-style-type: none;
    margin-top: 15px;
}
.meny a {
    text-decoration: none;
    color: #666666;
    font: 18px bold Rockwell, tahoma;
    margin-left: 60px;
}
.meny a:hover {
    color: black;
    border-bottom: 1px solid black;
}
.meny form {
    margin: 15px;
    float: right;
    height: 28px;
    border: 1px solid #ececec;
    position: relative;
}
input {
    vertical-align: middle;
    padding: 0 10px;
    border: none;
    color: #666;
}
input[type="image"] {
    margin-top: 4px;
}
.priwey {
    background: #FFF;
    overflow: hidden;
}
#background {
    background: black;
    width: 903px;
    height: 347px;
    margin: 13px auto;
    position:relative;
}
.box1,
.box2{
    position:absolute;
    width: 100%;
    height: 100%;
    background: url("img/1.jpg") no-repeat center;*/
    top:0;
    left:0;
}
.box2{
    background:  url("img/10.jpg") no-repeat center;*/
}
.right {
    position:absolute;
    top:0;
    right:0;
    margin-right: 14px;
    margin-top: 144px;
}
.left {
    position:absolute;
    top:0;
    left:0;
    margin-left: 14px;
    margin-top: 144px;
}
.right,
.left {
    width: 43px;
    height: 49px;
    opacity: 0.4;
}
.content,
.priwey {
    height: 377px;
    margin-top: 15px;
}
.content>div {
    margin-left: 11px;
    width: 224px;
    height: 100%;
    float: left;
}
.content>div:first-child {
    margin-left: 0;
}
.cont {
    width: 200px;
    height: 350px;
    margin: 12px auto;
    font: 12px normal Rockwell, tahoma;
}
.cont img {
    width: 201px;
    height: 157px;
}
.cont p {
    margin-top: 11px;
    line-height: 1.2em;
    text-indent: 35px;
}
.cont a,
.podrobnee a {
    margin-top: 20px;
    color: gray;
    float: right;
    text-decoration: none;
}
.cont a:hover,
.podrobnee a:hover {
    color: black;
    border-bottom: 1px solid black;
}
.podrobnee {
    height: 187px;
    margin-top: 16px;
}
.podrobnee div {
    padding-top: 10px;
    margin: 10px auto;
    width: 903px;
    height: 166px;
}
.podrobnee img {
    width: 215px;
    height: 166px;
    float: left;
    margin-right: 15px;
}
.podrobnee p {
    line-height: 1.2em;
    text-indent: 35px;
    font: 12px normal Rockwell, tahoma;
}
.footer {
    height: 55px;
    margin-top: 15px;
}
.footer ul li {
    float: left;
    list-style-type: none;
    margin-top: 15px;
    margin-left: 20px;
    font: 14px normal Calibri, tahoma;
}
.footer,
.podrobnee,
.content>div,
.priwey,
.meny {
    box-shadow: 0 0 3px black;
    background-color: #FFF;
}
/*------start modal -------*/
#modal:after {
    background: black;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity:.7;
}
#modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;  
}
#modal>div{
    color:white;
    width: 50%;
    height: 10%;
    background:#333;
    position:relative;
    margin:10% auto;
    border-radius:5px;
    box-shadow: 0 2px 2px rgba(0,0,0, .7);
    padding: 3em 1em;
    text-align:center;
}
#closed {
    position: absolute;
    top: 1em;
    right: 1em;
    color: black;
    text-transform: uppercase;
}
#closed:hover {
    text-decoration: underline;
    color: gray;
    cursor: pointer;
}
/*-----end modal----*/
div[class*='box'] h3{
    background: rgba(255,255,255, .4);
    padding: .3em 4em;
    position:absolute;
    width: 100%;
    box-sizing: border-box;
    left:0;
    bottom:0;
}
#background:hover{
    cursor:pointer;
}